@font-face {
	font-family: "Century Gothic";
	src: url("/fonts/CenturyGothic.ttf") format("truetype");
}

body {
	overscroll-behavior-y: contain;
}

.cpnMarkdownLabel * {
	color: white;
	user-select: text;
}

.cpnMarkdownLabel h1 {
	font-size: 42px;
	font-weight: 700;
	color: var(--colors-footerText);
}

.cpnMarkdownLabel h2 {
	font-weight: 700;
	color: var(--colors-footerText);
	margin: 1.5rem 0px;
	line-height: 2.5rem;
}

.cpnMarkdownLabel p {
	font-size: 17px;
	line-height: 30px;
	color: var(--colors-footerText);
	margin: 1rem 0px;
}

.cpnMarkdownLabel p strong {
	font-size: 17px;
}

.cpnMarkdownLabel p a {
	font-size: 17px;
	line-height: 30px;
	color: var(--colors-footerText);
	margin: 1rem 0px;
}

.cpnMarkdownLabel ul,
.cpnMarkdownLabel ol {
	margin: 18px 0px;
}

.cpnMarkdownLabel ul li,
.cpnMarkdownLabel ol li {
	font-size: 17px;
	line-height: 30px;
	color: var(--colors-footerText);
	margin: 1rem 0px;
}

.cpnCodeEditor {
	pre,
	textarea {
		tab-size: 40px !important;
	}

	textarea {
		caret-color: white;
	}

	pre {
		color: #e7efff !important;
	}

	.token {
		&.punctuation,
		&.operator,
		&.constant {
			color: #e7efff !important;
			background: none;
		}

		&.property {
			color: #6E9BEA !important;
		}

		&.keyword {
			color: #6fc1f0 !important;
		}

		&.string {
			color: #BC9758 !important;
		}

		&.boolean {
			color: #6EEA9B !important;
		}

		&.number {
			color: #6EEA9B !important;
		}

		&.attr-name {
			color: #97BC58;
		}

		&.function {
			color: #BC5897;
		}

		&.class-name {
			color: #6E9BEA !important;
		}

		&.tag {
			color: #97BC58;
		}

	}

}
